blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
input:focus{outline:0}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53,sans-serif}
h1,h2,h3,h4,h5,h6{font-size:100%}
address,cite,dfn,em,var{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
small{font-size:12px}
ol,ul{list-style:none}
a{text-decoration:none;color:#757575;outline:0}
a:hover{text-decoration:underline;color:#c7744f}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
article,aside,audio,details,figcaption,figure,footer,header,hgroup,mark,menu,nav,section,summary,time,video{display:block;margin:0;padding:0}
mark{background:#ff0}
#cb,#content,#footer,#head-wrapper,#header,#main-nav,#page,#topad{margin-left:auto;margin-right:auto}
#content,#head-wrapper,#main-nav,#site-nav,#topad,.cb{width:1200px}
.col-main{float:left;width:100%;min-height:1px}
.col-extra,.col-sub{position:absolute;top:190px}
.col-extra:after,.col-sub:after,.layout:after,.main-wrap:after{content:'\20';display:block;height:0;clear:both}
.col-extra,.col-sub,.layout,.main-wrap{*zoom:1}
.clearfix:after{content:'\0020';display:block;height:0;clear:both}
.clearfix{*zoom:1}
.clear{clear:both;font-size:0;height:0;line-height:0;overflow:hidden}
.hidden{display:none}
.grid-s4m0 .main-wrap{margin-left:250px}
.grid-s4m0 .col-sub{width:150px;margin-left:-100%}
.col-extra,.col-sub{float:left}
.grid-s5m0 .main-wrap{margin-left:250px}
.grid-s5m0 .col-sub{width:190px}
.grid-s6m0 .main-wrap{margin-left:240px}
.grid-s6m0 .col-sub{width:230px;margin-left:-100%}
.grid-m0s5 .main-wrap{margin-right:200px}
.grid-s5m0e6 .main-wrap{margin:0 240px 0 200px}
.grid-s5m0e6 .col-sub{width:190px;margin-left:-100%}
.grid-s5m0e6 .col-extra{width:230px;margin-left:-230px}
.grid-e6m0s5 .main-wrap{margin:0 200px 0 240px}
.grid-e6m0s5 .col-sub{width:190px;margin-left:-190px}
.grid-e6m0s5 .col-extra{width:230px;margin-left:-100%}
.grid-m0e6s5 .main-wrap{margin-right:440px}
.grid-m0e6s5 .col-sub{width:190px;margin-left:-190px}
.grid-m0e6s5 .col-extra{width:230px;margin-left:-430px}
#header{position:relative;z-index:112;padding:0}
#page,#site-nav .quick-menu .cart s,#site-nav .quick-menu li,#site-nav .search .menu-bd button,#site-nav .search .menu-hd s{background:transparent url(../img/header-2.png) no-repeat 999em 0}
#page{background-repeat:repeat-x;background-position:0 -44px}
html{zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}(this))}
body{color:#333}
#site-nav{position:relative;height:22px;line-height:22px;margin:0 auto;padding:2px 0;z-index:10000;color:#555}
#site-nav a{color:#666}
#site-nav a:hover{color:#f50}
#site-nav .login-info{float:left;color:#000}
#site-nav .login-info a{margin-right:8px}
#site-nav .login-info a.user-nick{margin-right:0}
#site-nav .quick-menu{position:absolute;right:0;top:1px}
#site-nav .quick-menu li{float:left;margin-left:-1px;padding:1px 10px 0;background-position:right 6px}
#site-nav .quick-menu li.last{background:0}
#site-nav .quick-menu li.menu-item{position:relative;padding:0}
#page #site-nav .quick-menu li.menu-item{padding-top:0;:\9}
#site-nav .quick-menu .cart{position:relative;padding:0}
#site-nav .quick-menu .cart a{background:none repeat scroll 0 0 #fff;display:block;cursor:pointer;border:1px solid #d8d8d8;height:18px;line-height:17px;margin-top:2px;padding-left:25px;padding-right:6px}
#site-nav .quick-menu .cart #mc-menu-hd{height:18px;line-height:17px;margin:2px 0 0;overflow:hidden;padding-right:6px;position:relative;width:70px}
#site-nav .quick-menu .cart #mc-menu-hd .mc-count{color:#f50;font-family:simsun;font-weight:700}
#site-nav .quick-menu .cart s{position:absolute;width:16px;height:16px;left:5px;top:1px;background-position:-100px -21px}
#site-nav .menu-hd{display:block;position:relative;height:21px;line-height:17px;margin:3px 1px 0;padding:0 22px 0 10px;cursor:pointer;z-index:10002}
#site-nav .mytaoshu .menu-hd{width:48px}
#site-nav .menu-hd b{position:absolute;right:10px;top:7px;width:0;height:0;border-width:4px;border-style:solid;border-color:#666 #fafafa #fafafa;font-size:0;line-height:0;-webkit-transition:-webkit-transform .2s ease-in;-moz-transition:-webkit-transform .2s ease-in;-o-transition:-webkit-transform .2s ease-in;transition:-webkit-transform .2s ease-in}
#site-nav .menu-bd{display:none;position:absolute;right:0;top:21px;background:#fff;border:1px solid #d8d8d8;z-index:10001}
#site-nav .menu-bd-panel{padding:10px 10px 6px}
#site-nav .menu{position:relative}
#site-nav .hover .menu-hd,#site-nav .menu:hover .menu-hd{margin:2px 0 0;border:1px solid #d8d8d8;border-bottom:0;background:#fff}
#site-nav .hover .menu-bd,#site-nav .menu:hover .menu-bd{display:block}
#site-nav .hover .menu-hd b,#site-nav .menu:hover .menu-hd b{border-color:#666 #fff #fff;-moz-transform:rotate(180deg);-moz-transform-origin:50% 30%;-webkit-transform:rotate(180deg);-webkit-transform-origin:50% 30%;-o-transform:rotate(180deg);-o-transform-origin:50% 30%;transform:rotate(180deg);transform-origin:50% 30%;filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);top:3px;:\9}
#site-nav .favorite .menu-bd,#site-nav .mytaoshu .menu-bd{height:50px;line-height:1.7}
#site-nav .mytaoshu .menu-bd{width:80px}
#site-nav .favorite .menu-bd{width:82px}
#site-nav .favorite .menu-bd-panel,#site-nav .mytaoshu .menu-bd-panel{padding:4px 10px}
#site-nav .phone em{display:block;font-size:15px;color: #f50;height:16px;width:100px;padding-bottom:5px;}
#head-wrapper{padding-top:15px;height:77px;position:relative;z-index:100}
.logo{float:left;padding-top:0}
.tss-search{position:absolute;right:190px;top:20px;z-index:108}
.tsss-searchs{position:absolute;right:190px;z-index:108}
.tss-searchs{position:absolute;right:75px;z-index:108}
.tsearch-hot{position:absolute;right:240px;top:54px;height:28px;line-height:28px;width:525px;z-index:106}
.tsearch-hot a{margin-right:6px;color:#666}
.tsearch-hot a:hover{color:#f60}
.tsearch-hot .more{color:#666;position:relative;padding-right:7px}
.tsearch-hot .arrow{display:inline-block;width:4px;height:8px;position:absolute;right:0;_right:auto;_margin-left:3px;top:3px;background:url(../img/bg.png) -2px -250px no-repeat}
.tsearch-fields {width:700px;height:34px;background:url(../img/bg.png) 0 -48px repeat-x;margin-bottom:3px}
.rc-tp-l{height:34px;width:10px;background:url(../img/bg.png) 0 -9px no-repeat;position:absolute;left:0;top:0}
.rc-tp-r{height:34px;width:3px;background:url(../img/bg.png) 0 -89px no-repeat;position:absolute;right:-1px;top:0}
.tsearch-fields input{border-style:none;border-color:inherit;border-width:0;width:398px;background:0;position:absolute;z-index:10;top:4px;left:8px;height:18px;line-height:18px;padding:3px 0}
.tsearch-fields label{position:absolute;top:4px;left:10px;z-index:11;height:18px;padding:3px 0 3px 20px;line-height:18px;background:url(../img/bg.png) 3px -172px no-repeat;color:#b8b8b8;display:none;cursor:text}
.tsearch-fields button{background:url(../img/bg.png) 0 -135px no-repeat;width:100px;height:25px;position:absolute;right:2px;top:3px;border:0;cursor:pointer}

.tsearch-fieldss {width:600px;height:34px;background:url(../img/bg.png) 0 -48px repeat-x;margin-bottom:3px}
.tsearch-fieldss input{border-style:none;border-color:inherit;border-width:0;width:398px;background:0;position:absolute;z-index:10;top:4px;left:8px;height:18px;line-height:18px;padding:3px 0}
.tsearch-fieldss label{position:absolute;top:4px;left:10px;z-index:11;height:18px;padding:3px 0 3px 20px;line-height:18px;background:url(../img/bg.png) 3px -172px no-repeat;color:#b8b8b8;display:none;cursor:text}
.tsearch-fieldss button{background:url(../img/bg.png) 0 -135px no-repeat;width:100px;height:25px;position:absolute;right:2px;top:3px;border:0;cursor:pointer}

.select-type{position:absolute;right:102px;top:3px;width:120px}
.select-t{background:url(../img/search.png) no-repeat scroll 0 0 #f7f7f7;cursor:pointer;line-height:25px;padding-left:10px;padding-top:1px}
.select-t ul li{height:25px;line-height:25px}
.options{display:none}
.options li{color:#3f3f3f;cursor:pointer;height:25px;line-height:25px;padding-left:38px}
.select-current{background:none repeat scroll 0 0 #fff;border:1px solid #abb1b1;padding:0 5px 10px;top:3px;width:144px}
.select-current .select-t{background:url(../img/search.png) no-repeat scroll 30px -31px transparent;border-bottom:1px solid #d8d8d8;padding-bottom:3px;padding-left:40px;padding-top:0}
.select-current .options{display:block}
.all-field{cursor:pointer;font-weight:700;line-height:20px;padding-left:16px;padding-top:8px}
.options li.bg{background:none repeat scroll 0 0 #c7744f;color:#fff}
.options li.selecteds{background:url(../img/gouzi.png) no-repeat scroll 18px center transparent;color:#c7744f;font-weight:700;padding-left:40px}
.tsearch-extra ul li{float:left;position:relative;margin-right:10px}
.tsearch-extra ul li input{margin-right:4px;vertical-align:middle}
.tsearch-extra ul li label{margin-right:10px;vertical-align:middle}
.tsearch-action{position:absolute;right:8px;top:28px;width:55px;height:34px;padding-left:10px;margin-top:-2px}
.tsearch-action a{color:#666}
.tsearch-action a:hover{color:#f50}
#header-nav{background:none repeat scroll 0 0 #678876;position:relative;z-index:88;height:36px}
#header-sub-nav{background:none repeat scroll 0 0 #f5f3f2;border-bottom:1px solid #dad9d8}
#header-sub-nav ul{height:30px;line-height:30px;margin:0 auto;overflow:hidden;width:1000px;padding-left:220px}
#header-sub-nav ul li{float:left;padding:0 8px;white-space:nowrap}
#header-sub-nav .divider-vertical{background-color:#888;border-right:1px solid #e3e3e3;height:11px;margin:10px 4px;overflow:hidden;width:1px;padding:0}
#main-nav{position:relative}
.channel-nav{float:left;position:relative}
.channel-cate{float:left;background-color:#546f60;height:36px}
.channel-cate a.cate_all{font:15px "Microsoft YaHei","微软雅黑";letter-spacing:2px;color:#fff;display:inline-block;height:33px;line-height:33px;text-align:center;width:210px}
.channel-cate a:hover{text-decoration:none}
.channel-cate a.cate_all:hover .cate_ico{background-position:-17px -1108px}
.cate_ico{background:url(../img/bg.png) no-repeat scroll 0 -1108px transparent;display:inline-block;vertical-align:middle;width:17px;height:13px;_margin-top:10px;margin-left:5px}
.channel-menu{float:left}
.channel-menu a,.channel-menu a:hover{color:#fff;text-decoration:none}
.channel-menu li{float:left;letter-spacing:2px}
.channel-menu a{font:15px "Microsoft YaHei","微软雅黑";display:inline-block;padding:0 18px;height:33px;line-height:33px}
.channel-menu a:hover,.channel-menu a:link.current,.channel-menu a:visited.current{border-bottom:solid 3px #c7754f;background-color:#546f60}
#left-menu{float:left;height:266px;left:0;position:absolute;top:36px;width:188px}
.menulist{background:#e7f8ef;border-left:1px solid #8ebba2;border-right:1px solid #8ebba2;border-bottom:1px solid #8ebba2;height:268px;width:188px;position:absolute;padding-top:8px;-webkit-box-shadow:0 2px 2px rgba(84,111,96,.2);-moz-box-shadow:0 2px 2px rgba(84,111,96,.2);box-shadow:0 2px 2px rgba(84,111,96,.2)}
.menulist .menuli{color:#546f60;letter-spacing:2px;border-bottom:1px solid #e7f8ef;border-top:1px solid #e7f8ef;position:relative;z-index:1;height:30px}
.menulist .on{background-color:#fff;border-bottom:1px solid #8ebba2;border-top:1px solid #8ebba2;z-index:11;height:30px}
.menulist .menutitle{font:14px "Microsoft YaHei","微软雅黑";display:block;height:30px;line-height:30px;padding-left:30px;position:relative;right:-1px;text-decoration:none;z-index:11}
.menulist .menutitle s{background:url(../img/bg.png) no-repeat scroll 0 -1128px transparent;display:inline-block;height:15px;margin-left:45px;position:absolute;top:7px;width:15px}
.menulist .on .menutitle{background-color:#fff}
.menulist .on .menutitle s{background:0}
.menupop{background-color:#fff;border:1px solid #8ebba2;border-right:1px solid #8ebba2;border-left:1px solid #8ebba2;left:188px;min-height:300px;_height:300px;position:absolute;top:-1px;width:560px;z-index:10;letter-spacing:1px;display:none;-webkit-box-shadow:0 2px 2px rgba(84,111,96,.2);-moz-box-shadow:0 2px 2px rgba(84,111,96,.2);box-shadow:0 2px 2px rgba(84,111,96,.2)}
.menupop .item{float:left;padding:5px;width:550px}
.menupop .item a:hover{text-decoration:underline}
.menupop .item dl{border-bottom:1px dashed #d8d8d8;float:left;padding:2px 0;width:545px}
.menupop .item dl dt{display:block;float:left;line-height:26px;padding-left:5px;text-align:left;width:85px}
.menupop .item dl dt a{border:medium none;color:#546f60;float:left;font-weight:700}
.menupop .item dl dd{float:left;line-height:26px;width:455px}
.menupop .item dl dd a{display:inline-block;padding:0 5px 0 8px}
.g{color:#546f60;font-weight:700}
.r{color:#c7744f;font-weight:700}
.cc{color:#f60}
.my .ks-stdmod-footer,.my .ks-stdmod-header{display:none}
.my .ks-stdmod-body{line-height:0}
.ks-dialog,.ks-overlay{position:absolute;left:-9999px;top:-9999px}
.ks-dialog,.ks-popup{background-color:#fbfbfb;border:1px solid #acb4be}
.ks-dialog .ks-stdmod-header{background:repeat-x scroll 0 0 #d6dbe2;background-image:url(dialog-hd.png);border-bottom:1px solid #acb4be;font-size:14px;font-weight:700;height:30px;line-height:30px;padding:0 0 0 18px}
.ks-ext-close{height:18px;width:18px;border:1px solid transparent;right:6px;top:6px;vertical-align:middle;position:absolute;text-decoration:none;outline:0;_border-color:tomato;_filter:chroma(color=tomato);overflow:hidden;cursor:pointer}
.ks-ext-close .ks-ext-close-x{display:block;background:no-repeat;background-image:url(../img/close.png);height:13px;text-indent:-9999px;width:13px;margin:2.5px}
.ks-ext-close:hover{border:1px solid #ced5e0;background:#fff}
.ks-ext-mask{background-color:#000;opacity:.3;filter:alpha(opacity=15)}
.ks-ext-loading{opacity:.3;filter:alpha(opacity=15);background:#000 center center no-repeat scroll;background-image:url(loading.gif)}
.ke-global-loading .ks-ext-loading{background-attachment:fixed}
.ks-overlay .ks-resizable-handler{overflow:hidden;font-size:0;line-height:0;position:absolute}
.ks-overlay .ks-resizable-handler-b{height:15px;width:100%;bottom:-15px;left:0;cursor:n-resize}
.ks-overlay .ks-resizable-handler-t{height:15px;width:100%;top:-15px;left:0;cursor:n-resize}
.ks-overlay .ks-resizable-handler-l{height:100%;-height:expression(this.parentNode.offsetHeight);width:15px;top:0;left:-15px;cursor:e-resize}
.ks-overlay .ks-resizable-handler-r{height:100%;-height:expression(this.parentNode.offsetHeight);width:15px;position:absolute;top:0;right:-15px;cursor:e-resize}
.ks-overlay .ks-resizable-handler-bl{height:15px;width:15px;z-index:1;bottom:-15px;left:-15px;cursor:sw-resize}
.ks-overlay .ks-resizable-handler-br{height:15px;width:15px;z-index:1;bottom:-15px;right:-15px;cursor:se-resize}
.ks-overlay .ks-resizable-handler-tl{height:15px;width:15px;z-index:1;top:-15px;left:-15px;cursor:nw-resize}
.ks-overlay .ks-resizable-handler-tr{height:15px;width:15px;z-index:1;top:-15px;right:-15px;cursor:ne-resize}
.flowsteps{height:23px;margin-top:5px;*zoom:1}
.flowsteps ol{position:relative;overflow:hidden;*zoom:1;background:#e4e4e4}
.flowsteps .num2 .last,.flowsteps .num2 li{width:50%}
.flowsteps .num3 .last,.flowsteps .num3 li{width:33.3%}
.flowsteps .num4 .last,.flowsteps .num4 li{width:24.9%}
.flowsteps .num5 .last,.flowsteps .num5 li{width:19.9%}
.flowsteps .num6 .last,.flowsteps .num6 li{width:16.6%}
.flowsteps li,.flowsteps span{background:url(../img/flowsteps.png) no-repeat 0 0;color:#888}
.flowsteps li{float:left;height:23px;overflow:hidden;font-size:14px;font-weight:700;line-height:23px;text-align:center}
.flowsteps span{display:block}
.flowsteps .last{position:absolute;right:0;_right:-1px;_width:100%!important;background-position:100% -92px}
.flowsteps a{color:#546f60;text-decoration:underline}
.flowsteps .current .last{background:url(../img/flowsteps-for-opera.png) no-repeat 100% 0}
.flowsteps .done span{background-color:#e4e4e4;background-position:0 0}
.flowsteps .current,.flowsteps .current span{background-color:#546f60;background-position:0 0;color:#fff}
.flowsteps .next{background-position:0 -23px}
.flowsteps .next span{background-position:0 -22px}
.flowsteps .next .last{background-position:100% -92px}
.flowsteps span.first{background-position:0 -69px}
.msg{margin-top:10px}
.msg .msg-default{padding:2px 5px;border:1px solid #ffcc7f;background:#ffffe5;position:relative;min-height:20px;_height:20px}
.msg .msg-icon{float:left;width:16px;height:16px;margin:1px 5px 1px 0;font-size:0;line-height:0;background:url(../img/msg.png) no-repeat 0 -160px}
.msg .msg-title{display:inline;padding-right:2px;font-weight:700}
.msg .msg-content{display:inline}
.msg .msg-error{border:1px solid #ff8080;background:#fff2f2}
.msg .msg-error .msg-icon{background-position:0 0}
.msg .msg-stop{border:1px solid #ff8080;background:#fff2f2}
.msg .msg-stop .msg-icon{background-position:0 -40px}
.msg .msg-question{border:1px solid #ffcc7f;background:#ffffe5}
.msg .msg-question .msg-icon{background-position:0 -80px}
.msg .msg-attention{border:1px solid #40b3ff;background:#e5f5ff}
.msg .msg-attention .msg-icon{background-position:0 -120px}
.msg .msg-tips{border:1px solid #ffcc7f;background:#ffffe5}
.msg .msg-tips .msg-icon{background-position:0 -160px}
.msg .msg-ok{border:1px solid #4dbf00;background:#f0ffe5}
.msg .msg-ok .msg-icon{background-position:0 -200px}
.msg .msg-notice{border:1px solid #ffcc7f;background:#ffffe5}
.msg .msg-notice .msg-icon{background-position:0 -240px}
.msg-strong .msg-default{padding:6px 10px;min-height:40px;_height:40px}
.msg-strong .msg-icon{width:32px;height:32px;margin-right:10px;background-position:100% -160px;left:10px;top:6px}
.msg-strong .msg-title{display:block;margin-left:42px;padding:0;font-size:14px}
.msg-strong .msg-content{display:block;margin-left:42px}
.msg-strong .msg-error .msg-icon{background-position:100% 0}
.msg-strong .msg-stop .msg-icon{background-position:100% -40px}
.msg-strong .msg-question .msg-icon{background-position:100% -80px}
.msg-strong .msg-attention .msg-icon{background-position:100% -120px}
.msg-strong .msg-tips .msg-icon{background-position:100% -160px}
.msg-strong .msg-ok .msg-icon{background-position:100% -200px}
.msg-strong .msg-notice .msg-icon{background-position:100% -240px}
.msg-weak{margin-bottom:0}
.msg-weak .msg-default{padding:4px 6px;border:0;background:0}
.msg-weak .msg-icon{left:0}
.msg-strong-weak .msg-default{border:0;background:0}
.msg-inline,.msg-inline .msg-default{display:inline-block;*display:inline;*zoom:1}
.msg-big .msg-default{font-size:14px;padding:40px 170px;margin-bottom:40px}
.msg-big .msg-title{font-size:16px;margin-left:56px}
.msg-big .msg-content{display:block;margin:20px 0 0 56px}
.crumbs{margin:10px 0 0 8px;height:18px;line-height:18px}
.crumbs a,.crumbs span{float:left;font-family:\5b8b\4f53}
.crumbs a{margin-right:4px;padding:0 10px 0 0;background:url(../img/crumbs.png) no-repeat 100% 50%}
.ad{font-size:0;line-height:0;margin:0 auto;overflow:hidden}
.ad p{margin-top:10px}
.label_tj{background:url(../img/discount.png) no-repeat 0 0;height:50px;overflow:hidden;position:absolute;right:6px;top:0;width:50px;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.taoshu.com/img/discount.png', sizingMethod='noscale')}
.label_tj span{color:#fff;font:700 18px/28px Arial;left:5px;position:absolute;top:10px}
.tj-span{background:url(../img/tj-icon.png) no-repeat scroll 0 0 transparent;height:52px;width:52px;display:block;position:absolute;right:10px;top:-1px;z-index:10;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.taoshu.com/img/tj-icon.png', sizingMethod='noscale')}
.ydk-span{background:url(../img/tj-icon.png) no-repeat scroll 0 0 transparent;height:52px;width:52px;display:block;position:absolute;right:10px;top:-1px;z-index:10;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.taoshu.com/img/tj-icon.png', sizingMethod='noscale')}
.w950{width:1200px}
.w190{width:190px}
.w150{width:150px}
.w230{width:230px}
.w710{width:710px}
.w1200{width:1200px}
.h{color:#c7744f;font-weight:bolder}
.h:hover{color:#c7744f}
.left-w190{width:188px;border:1px solid #ccc;margin-top:10px}
.left-w150{width:220px;border:1px solid #ccc;margin-top:40px}
.title{height:38px;border-bottom:1px solid #d8d8d8}
.bjtj,.bzfl,.gjs,.jjgl,.jyjc,.kxjs,.lxkf,.mrys,.mstm,.rwsk,.rwz,.sets,.shss,.tjjx,.tsfl,.tsph,.wdts,.wxys,.wzlm,.xssd,.zkzq,.zxzx{background:url(../img/bg-title.png) no-repeat scroll 0 0 transparent}
.wzlm{background-position:0 -768px}
.mrys{background-position:0 -420px}
.xssd{background-position:0 -35px}
.tsfl{background-position:0 -70px}
.mstm{background-position:0 -105px}
.wxys{background-position:0 -140px}
.rwsk{background-position:0 -175px}
.jjgl{background-position:0 -210px}
.shss{background-position:0 -245px}
.kxjs{background-position:0 -280px}
.jyjc{background-position:0 -315px}
.sets{background-position:0 -350px}
.gjs{background-position:0 -385px}
.bjtj{background-position:0 -455px}
.rwz{background-position:0 -490px}
.zkzq{background-position:0 -525px}
.tsph{background-position:0 -560px}
.bzfl{background-position:0 -595px}
.lxkf{background-position:0 -630px}
.wdts{background-position:0 -665px}
.zxzx{background-position:0 -700px}
.img130{display:block;height:130px;overflow:hidden;vertical-align:middle;width:130px;position:relative}
.img60{display:table-cell;height:60px;overflow:hidden;vertical-align:middle;width:60px}
.img100{display:table-cell;height:100px;overflow:hidden;vertical-align:middle;width:100px}
.img100 img{display:block;margin:0 auto;max-height:100px;max-width:100px}
.img130 img{display:block;margin:0 auto;max-height:130px;max-width:130px;vertical-align:middle}
.img160{display:block;height:160px;overflow:hidden;vertical-align:middle;width:160px;position:relative}
.img160 img{display:block;margin:0 auto;max-height:160px;max-width:160px;vertical-align:middle}
.img180{display:block;height:180px;overflow:hidden;vertical-align:middle;width:180px;position:relative}
.img180 img{display:block;margin:0 auto;max-height:180px;max-width:180px;vertical-align:middle}
.img60 img{display:block;margin:0 auto;max-height:60px;max-width:60px;vertical-align:middle}
.book-name{height:37px;overflow:hidden;text-align:center;width:160px}
.price{color:#555;font-family:Tahoma,Geneva,sans-serif;height:20px;white-space:nowrap;width:160px}
.price span{line-height:25px;padding-left:12px}
span.old-price{background:url(../img/bg.png) no-repeat scroll 0 -422px transparent;color:#757575;font-weight:400;padding-right:5px;text-decoration:line-through}
span.new-price{background:url(../img/bg.png) no-repeat scroll 0 -420px transparent;color:#ff4a00;font-size:14px;font-weight:700}
span.discount{color:#546f60}
a.btn-add,a.btn-buy,a.btn-continue,a.btn-noorder,a.btn-nostock,a.btn-order,a.btn-pay{background:url(../img/bg-btn.png) no-repeat scroll 0 0 transparent;display:block;height:36px;width:131px}
a.btn-sadd,a.btn-sbuy,a.btn-snostock{background:url(../img/bg-btn.png) no-repeat scroll 0 -180px transparent;display:block;height:25px;width:90px}
input.btn-login{background:url(../img/bg-btn.png) no-repeat scroll 0 -230px transparent;height:25px;width:90px;border:0 none;cursor:pointer;display:inline-block;margin-right:6px;overflow:hidden;vertical-align:middle}
a.btn-sadd{background-position:0 -205px}
a.btn-snostock{background-position:-131px -255px}
a.btn-add{background-position:0 -36px}
a.btn-order{background-position:0 -72px}
a.btn-noorder{background-position:0 -352px}
a.btn-continue{background-position:0 -108px}
a.btn-nostock{cursor:default;background-position:0 -255px}
a.btn-pay{background-position:0 -496px}
button.btn-submitorder,input.btn-email,input.btn-next,input.btn-register{background:url(../img/bg-btn.png) no-repeat scroll 0 -144px transparent;height:36px;width:131px;border:0 none;cursor:pointer;display:block}
input.btn-register:hover{background-position:-131px -144px}
input.btn-next{background-position:0 -424px}
input.btn-next:hover{background-position:-131px -424px}
input.btn-email{background-position:0 -460px}
input.btn-email:hover{background-position:-131px -460px}
button.btn-submitorder{background-position:0 -388px}
button.btn-submitorder:hover{background-position:-131px -388px}
a.btn-buy:hover{background-position:-131px 0}
a.btn-add:hover{background-position:-131px -36px}
a.btn-order:hover{background-position:-131px -72px}
a.btn-continue:hover{background-position:-131px -108px}
a.btn-pay:hover{background-position:-131px -496px}
a.btn-sbuy:hover{background-position:-90px -180px}
a.btn-sadd:hover{background-position:-90px -205px}
input.btn-login:hover{background-position:-90px -230px}
.button{min-width:60px;margin-right:10px;padding:1px 6px;*padding:0;font-size:12px;border:1px solid #546f60;background:url(../img/bg-repeatx.png) repeat-x 0 -10px;cursor:pointer;-moz-border-radius:4px;-khtml-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;-moz-box-shadow:1px 1px 2px #999;-khtml-box-shadow:1px 1px 2px #999;-webkit-box-shadow:1px 1px 2px #999;box-shadow:1px 1px 2px #999}
.button:active,.button:hover{-moz-box-shadow:0 0 2px #aaa;-khtml-box-shadow:0 0 2px #aaa;-webkit-box-shadow:0 0 2px #aaa;box-shadow:0 0 2px #aaa}
.pages{clear:both;height:22px;margin-bottom:10px;margin-top:10px;padding:10px;text-align:center}
.pages a,.pages span{display:inline-block;height:18px;line-height:18px;margin-right:5px;overflow:hidden;padding:0 5px;text-align:center;vertical-align:middle;white-space:nowrap}
.pages .stat-page{background:url(../img/page.png) no-repeat scroll 8px 0 transparent;border:1px solid #bfc0c0;padding:0;width:20px}
.page-cur{background:none repeat scroll 0 0 #566e5e;border:1px solid #566e5e;color:#fff;margin-right:5px}
.pages a{border:1px solid #bfc0c0}
.pages a:hover{border:1px solid #566e5e;text-decoration:none}
.pages .page-next{background:url(../img/page.png) no-repeat scroll 47px -23px transparent;padding:0 15px 0 7px;border:1px solid #bfc0c0}
.pages input{border:1px solid #bfc0c0;color:gray;height:17px;margin:0 5px;text-align:center;vertical-align:middle}
.pages .page-skip{height:22px;line-height:20px;margin-top:0}
.pages button{background:url(../img/bg.png) no-repeat scroll 0 -961px transparent;border:0 none;height:19px;margin:0 0 0 5px;padding:0;text-indent:-9999px;vertical-align:middle;width:37px}
.pages .b-total{float:left;line-height:20px}
.pages .b-total span{float:none;margin:0}
.pages form{display:inline}
.pages-more{clear:both;height:35px;line-height:35px;padding-right:25px;text-align:right}
.pages-more strong{font-weight:700;margin:0 2px}
.pages-more a{background:url(../images/bg.png) no-repeat scroll 0 -485px transparent;color:#a9c609;padding-left:15px}
.left-book1{overflow:hidden;width:188px;border:1px solid #d8d8d8;margin-top:10px;padding-bottom:8px}
.left-book1 ul{margin-top:8px}
.left-book1 ul li{line-height:21px;padding:0 15px}
.left-book{height:330px;overflow:hidden;width:220px;border:1px solid #d8d8d8;margin-top:10px}
.left-title{font-size:14px;position:relative;background:none repeat scroll 0 0 #f8f8f8;border-bottom:1px solid #d8d8d8;font-weight:700;height:30px;line-height:30px;margin-bottom:5px;color:#546f60;padding:0 15px}
.left-title a{background:url(../img/bg.png) no-repeat scroll 0 -200px transparent;color:#363636;font-size:12px;font-weight:400;padding-left:15px;position:absolute;right:8px;top:0}
.book-ul{padding:0 8px 8px}
.book-ul li{height:23px;line-height:23px;overflow:hidden;padding-left:2px;position:relative}
.book-ul li strong{background:url(../img/bg.png) no-repeat scroll -14px -306px transparent;color:#fff;display:block;float:left;font-family:Arial,Helvetica,sans-serif;font-size:10px;font-weight:700;height:14px;line-height:12px;margin-right:4px;padding-top:4px;text-align:center;width:14px}
.book-ul li.hot-3 strong{background:url(../img/bg.png) no-repeat scroll 0 -306px transparent}
.book-ul li .tbook-img{display:none;float:left}
.book-ul li .tbook-price{display:none}
.book-ul li.selected{background:url(../img/bg.png) repeat-x scroll 0 -824px transparent;height:80px;line-height:18px;margin-bottom:3px;padding-top:5px}
.book-ul li.selected .tbook-img{display:block;float:left}
.book-ul li.selected .tbook-price{display:block}
.book-ul li.selected .tbook-info{float:left;padding-left:4px;width:84px}
.book-ul li .tbook-name{padding-bottom:0}
.book-ul li.selected .tbook-name{padding-bottom:5px}
.book-ul li.selected .tbook-info .price_d{color:#ff4a00;font-family:Arial;font-weight:700}
.book-ul li.selected .tbook-info .price_d em{padding-left:1px}
.book-ul li.selected .tbook-info .discount{color:#546f60;padding-left:5px}
#footer{margin:0 auto;width:100%;background:#f9f9f9 url(../img/bg_footer.gif) repeat-x 0 -150px;padding:20px 0;clear:both}
.public_footer{margin:0 auto;width:1200px;padding:32px 5px 0;background:#f9f9f9 url(../img/bg_footer.gif) repeat-x 0 -170px;color:#666;overflow:hidden}
.public_footer a{color:#666!important}
.public_footer a:hover{color:#f60!important}
.public_footer .footer_sort{width:137px;padding:0 21px 0 1px;display:block;float:left}
.public_footer .footer_hotline{padding-right:0}
.public_footer .footer_sort h2{border-bottom:1px solid #dcdcdc;height:22px;line-height:0;font-size:0;overflow:hidden;text-indent:-9999px;width:137px;background:url(../img/icon_footer.png) no-repeat 14px 0}
.public_footer .footer_sort ul{display:block;padding:7px 0 0}
.public_footer .footer_sort ul li{padding-left:30px;background:url(../img/icon_footer.png) no-repeat 17px -177px;height:20px;line-height:20px}
.public_footer .footer_nvice h2{background-position:14px 0}
.public_footer .footer_distribution h2{background-position:14px -30px}
.public_footer .footer_pay h2{background-position:14px -60px}
.public_footer .footer_aftermarket h2{background-position:14px -90px}
.public_footer .footer_hotline h2{background-position:14px -120px}
.public_footer .footer_hotline ul li{padding-left:5px;background:0}
.public_footer .footer_hotline ul li em{display:block;font-size:15px;color: #f50;height:18px;width:100px}
.public_footer .footer_help h2{background-position:14px -150px}
.public_footer .footer_nav{text-align:center;padding:15px;margin-top:10px}
.public_footer .sep{display:inline-block;padding:0 18px}
.public_footer .footer_copyright{text-align:center;margin:0 auto}
.public_footer .footer_copyright span{display:inline}
.public_footer .footer_copyright a{padding-right:4px}
.public_footer .footer_icon{margin:10px 0 0 170px;height:57px}
.public_footer .footer_police{padding-top:10px;text-align:center}
.public_footer .footer_pic{width:1200px;height:53px;overflow:hidden;clear:both;margin:20px 0}
.public_footer .footer_pic a{display:block;width:300px;height:53px;background:url(../img/bg-pic.png) no-repeat 0 0;font-size:0;line-height:0;overflow:hidden;text-indent:-9999px;cursor:pointer;float:left}
.public_footer .footer_pic a.footer_pic02{background-position:-237px 0}
.public_footer .footer_pic a.footer_pic03{background-position:-474px 0}
.public_footer .footer_pic a.footer_pic04{background-position:-711px 0;width:300px}
.public_footer .footer_nav img{height:44px;margin:5px;vertical-align:middle;display:inline}
.public_footer .public_footer_customer{width:1200px;padding-left:120px;margin-left:0}
#accordion .ks-switchable-trigger{padding:6px 15px;cursor:pointer;border-bottom:1px solid #ddd;background:#f3f3f3;overflow:hidden;height:22px;line-height:22px;outline:medium none}
#accordion .ks-switchable-trigger h3{float:left;width:100px;margin-left:6px}
#accordion .ks-switchable-panel{padding:3px 6px 3px 10px;border-bottom:1px solid #ddd}
#accordion .ks-icon{float:left;width:12px;height:12px;overflow:hidden;margin-top:4px;font-size:0;vertical-align:middle;background:url(../img/icon.png) no-repeat 0 0}
#accordion .ks-active .ks-icon{background-position:-20px 0}
#accordion .last-trigger{border-bottom-width:0}
#accordion .ks-active{border-bottom-width:1px}
#accordion .last-panel{border-bottom:0}
.list-ul,.list1-ul{padding:10px 0 6px}
.list-ul li{height:28px;line-height:28px;clear:both}
.list1-ul li{height:28px;line-height:28px;clear:both;padding-left:34px}
.list-ul li a{background:url(../img/bg-title.png) no-repeat scroll -9999px -9999px transparent;display:block;height:24px;line-height:24px;padding-left:24px;width:108px}
.list-ul li a.current{background-position:0 -740px;color:#c7744f;font-weight:700;text-decoration:none}
.list-ul li a:hover{background-position:0 -740px}
.form{margin-top:10px}
.form hr{height:0;overflow:hidden;margin-bottom:5px;border:0;border-bottom:1px dashed #ccc;background:0}
.form .field{overflow:hidden;clear:both;margin-bottom:10px;zoom:1}
.form .field .hd{float:left;width:84px;text-align:right}
.form .field .hd .required{display:inline;color:#c30;vertical-align:middle}
.form .field .hd .label{display:inline}
.form .field .bd{padding-left:84px}
.form .field .bd .cell{text-align:left}
.form .field .bd label{text-align:left;margin-left:8px}
.form .field label,.form .field option,.form .field select,.form .field textarea{vertical-align:middle}
.text-default{border:1px solid #ccc}
.text-default-hover{border:1px solid #aeac87}
.form .field input.text{height:24px;line-height:24px;vertical-align:middle}
.form textarea{height:44px;line-height:18px;width:622px}
.form .button-box{margin:8px 0;padding-top:8px;text-align:center}
.form .field-msg-inline .cell{float:left;display:inline;margin:0 10px 0 0}
.form select{color:#404040;line-height:22px;height:22px;width:140px}
.form .tips{color:gray;vertical-align:middle}
.form .default-addr input{height:auto;vertical-align:middle}
.form .default-addr{line-height:24px;height:24px}
.topnav{margin-top:10px;background-color:#f3f3f3;line-height:36px;height:36px;padding:2px;text-align:center}
.topnav a{text-decoration:none;border:1px solid #546f60;text-align:center;padding:6px 8px;background-color:#e8ffef;font-weight:700;margin-right:6px}
.topnav a:hover{background-color:#546f60;color:#FFF;font-weight:700}
.press-table{width:100%;margin:10px 0;border:solid 1px #ccc}
.press-table td{line-height:26px;height:26px;text-align:center;width:25%;border:solid 1px #ccc}
.press-tabletr{text-align:left;background-color:#e8ffef;font-size:14px}
#cb{background-color:#f9f9f9}
.cb{position:relative;height:22px;line-height:22px;margin:0 auto;z-index:10000;color:#666;background:url(../img/cb.jpg) no-repeat scroll 15px 6px transparent;padding:2px 0 2px 38px}
.cb a:hover{color:#f50}
.cb .fr{float:right}
.zt-ul{margin-top:10px}
.zt-ul li{margin-top:2px;overflow:hidden}
.zt-ul li img{overflow:hidden;display:block}
#for_kefu_block{position:fixed;right:0;top:240px;z-index:9999;_position:absolute;_top:expression(documentElement.scrollTop+240+"px")}
.kefu_flag{cursor:pointer;display:block}
.content .dot_qiang{background:url(../img/qiang.png) no-repeat scroll 0 0 transparent;display:inline-block;font-size:0;height:18px;position:absolute;right:578px;top:-9px;width:17px;z-index:10000}
.dot_yueduka{background:url(../img/re.png) no-repeat scroll 0 0 transparent;display:inline-block;font-size:2px;color:red;height:18px;position:absolute;left:392px;top:-9px;width:100px;z-index:10000}
.taoshu_wrap{margin:0 auto;width:1200px}
.taoshu_wrap:after{clear:both;content:"";display:table}
.index-main{float:left;min-height:1px;width:100%}
.index-sort{-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;background-color:#fff;border-color:#dcdcdc;border-image:none;border-style:none solid solid;border-width:0 1px 1px;float:left;margin-top:-30px;position:relative;width:208px;z-index:120}
.index-sort .sort-menu-bd{height:687px}
.index-sort li h2{font-size:14px;height:30px;line-height:30px;padding-left:8px}
.index-sort li h2 a{float:left;text-decoration:none}
.index-sort a:hover{text-decoration:underline}
.index-sort li{border-bottom:1px dotted #dcdcdc;padding:0 10px 0 26px;position:relative}
.index-sort li .min-sort{line-height:20px;overflow:hidden;padding-bottom:10px}
.index-sort li .min-sort a{color:#696969;display:inline-block;margin:0 2px}
.caret{display:block;float:right;height:10px;margin-top:10px;position:relative;width:6px}
.caret_in,.caret_out{display:block;font-family:simsun;font-size:0;height:0;overflow:visible;position:absolute;width:0}
.caret_out{border-color:transparent transparent transparent #6e6e6e;border-style:dashed dashed dashed solid;border-width:5px 5px 5px 6px;left:0;top:-1px}
.caret_in{border-color:transparent transparent transparent #fff;border-style:dashed dashed dashed solid;border-width:4px 4px 4px 5px;left:-1px;top:0}
.index-sort .sort-lib{background-color:#e9f4ff}
.index-sort .sort-lib .caret_in{border-color:transparent transparent transparent #e9f4ff}
.index-sort li.on{background-color:#74a038}
.index-sort li.on .min-sort a,.index-sort li.on h2,.index-sort li.on h2 a{color:#fff}
.index-sort li.on .caret_out{border-color:transparent transparent transparent #fff}
.index-sort li.on .caret_in{border-color:transparent transparent transparent #74a038}
.icon{background:rgba(0,0,0,0)url(../img/all_sort.png) no-repeat scroll 0 0;display:inline-block;font-size:0;height:22px;left:5px;line-height:9999em;overflow:hidden;padding:0;position:absolute;top:4px;width:22px}
.index-sort li .ic0{background-position:0 -115px}
.index-sort li .ic1{background-position:-25px -115px}
.index-sort li .ic2{background-position:-50px -115px}
.index-sort li .ic3{background-position:-75px -115px}
.index-sort li .ic4{background-position:-100px -115px}
.index-sort li .ic5{background-position:-125px -115px}
.index-sort li .ic6{background-position:-150px -115px}
.index-sort li.on .ic0{background-position:0 -140px}
.index-sort li.on .ic1{background-position:-25px -140px}
.index-sort li.on .ic2{background-position:-50px -140px}
.index-sort li.on .ic3{background-position:-75px -140px}
.index-sort li.on .ic4{background-position:-100px -140px}
.index-sort li.on .ic5{background-position:-125px -140px}
.index-sort li.on .ic6{background-position:-150px -140px}
.submenu{background-color:#fff;border:2px solid #678876;display:none;left:207px;padding:10px;position:absolute;top:0;width:728px;z-index:100}
.submenu li{border-bottom:1px dotted #eaeaea;clear:both;display:block;line-height:26px;margin:0;overflow:hidden;padding:5px 0}
.submenu li:last-of-type{border-bottom:0 none}
.submenu li h3{display:inline-block;float:left;font-size:12px;width:89px}
.submenu li .e{float:left;width:635px}
.submenu li .e a{background:rgba(0,0,0,0)url(../images/line_1.gif) no-repeat scroll right 8px;color:#696969;display:inline-block;padding:0 8px 0 2px;text-decoration:none}
.submenu li .e a:hover{color:#f60}
.submenu .on{display:block}
.slide{float:left;height:340px;margin:0;overflow:hidden;position:relative;width:750px;z-index:99}
.index-sidebar{display:block;float:right;margin-left:-240px;overflow:hidden;width:240px}
.book-con{background-color:#f9f9f9;border:1px solid #eaeaea}
.book-con .iconfont{display:none}
.book-famous .book-con{border-top:0 none}
.book-famous .hd h3{margin-top:3px}
.book-famous .bd{height:419px}
.book-famous .bd li{border-top:1px dotted #eaeaea;color:#999;padding:0 10px}
.book-famous .bd li:first-child{border-top:0 none}
.book-famous .bd li .title{padding:11px 0 13px}
.book-famous .bd li .famous-pic{display:none;height:118px;overflow:hidden;padding-top:10px;width:225px}
.book-famous .bd li .famous-pic img{height:118px;width:225px}
.book-famous .bd li a{display:inline-block;line-height:14px;margin:0 3px;vertical-align:middle}
.book-famous .bd li.on .famous-pic{display:block}
.book-press{position:absolute;right:0;top:48px;width:245px}
.book-press .hd h3{margin-top:5px}
.book-press .hd h3 span{color:#ed7600;margin-right:5px}
.book-press .bd{height:537px;padding:8px 6px}
.book-press .co-op-pic{overflow:hidden;padding:5px 0 5px 10px}
.book-press .co-op-pic img{vertical-align:top}
.book-press .bd li{height:25px;line-height:25px;overflow:hidden;padding:4px 0 4px 5px}
.book-press .bd li a{font-size:13px;padding-left:8px}
#marque{height:300px;margin-top:10px;overflow:hidden}
#marque i{color:#fd9440;font-family:"宋体";font-size:14px;font-style:normal}
.book-media{border-top:0 none;position:absolute;right:0;top:48px;width:245px}
.book-media .hd h3{margin-top:3px}
.book-media .bd{height:484px}
.bk-news{clear:both;height:170px;overflow:hidden;padding:5px}
.bk-news .hd{height:40px;line-height:40px;position:relative}
.bk-news .hd .ic7{background-position:-175px -115px;display:none;top:10px}
.bk-news .hd h3{float:left;font-size:15px;line-height:21px;margin-top:10px;padding-left:5px}
.bk-news .bd{clear:both;display:block;height:124px;overflow:hidden;padding:0 5px 0 0;position:relative}
.bk-news li{background:rgba(0,0,0,0)url(../images/point.gif) no-repeat scroll left center;height:31px;line-height:31px;overflow:hidden;padding-left:10px}
.bk-news li a{font-size:12px;text-decoration:none}
.bk-phone{border-width:0 1px;clear:both;height:148px;overflow:hidden;padding:5px}
.bk-phone .hd{height:40px;line-height:40px;padding-left:5px;position:relative}
.bk-phone .hd .iconfont{color:#28b4e9;float:left;font-size:20px;margin-top:10px}
.bk-phone .hd h3{float:left;font-size:15px;line-height:21px;margin-top:10px}
.bk-phone .bd{clear:both;display:block;height:100px;overflow:hidden;padding:10px 10px 0 0;position:relative}
.bk-phone .bd .qrcode{border:1px solid #dedede;display:block;height:80px;left:15px;overflow:hidden;position:absolute;top:10px;width:80px}
.bk-phone .bd h4{font-size:12px;font-weight:100;height:44px;line-height:20px;padding-left:100px}
.bk-phone .bd p{padding-left:100px}
.bk-phone .bd p a{background-color:#28b4e9;color:#fff;display:block;font-weight:700;height:32px;line-height:32px;margin-top:5px;overflow:hidden;text-align:center;text-decoration:none;width:95px}
.bk-phone .bd p a:hover{background-color:#1caddf}
.book-presale{clear:both;height:300px;padding:8px 10px;position:relative}
.book-presale .hd{height:30px;line-height:30px}
.book-presale .hd h3{float:left;font-size:15px;line-height:15px;margin-top:6px}
.book-presale .bd{clear:both;display:block;height:215px;overflow:hidden;padding:5px 0;position:relative}
.bjtj-right{width:228px;overflow:hidden;height:280px}
.bjtj-right ul{padding:5px 10px}
.bjtj-right ul li{margin-top:10px}
.new-book{border-color:#eaeaea;border-style:solid;border-width:1px 0;float:left;height:311px;overflow:hidden;padding-bottom:5px;position:relative;width:750px;z-index:99}
.new-book .hd{height:35px;line-height:30px;padding:10px 10px 0}
.new-book .hd .iconfont{float:left;font-size:28px;margin:0 10px 0 3px}
.new-book .hd h3{float:left;font-size:18px}
.pageState{color:#999;float:right;font-family:Arial;font-size:14px}
.pageState span{color:#28b4e9;font-weight:700}
.new-book-ft{display:none}
.new-book-ft a{background-color:rgba(0,0,0,.2);background-image:url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);color:#fff;display:block;height:40px;line-height:40px;overflow:hidden;position:absolute;top:292px;width:40px}
.new-book-ft a:hover{background-color:rgba(0,0,0,.4)}
.new-book-ft a i{cursor:pointer;display:block;height:25px;margin:8px 0 0 12px;overflow:hidden;width:15px}
.new-book-ft .prev{left:5px}
.new-book-ft .next{right:5px}
.s-next,.s-prev{background:rgba(0,0,0,0)url(../img/bk_fanye_btn.png) no-repeat scroll 0 0}
.s-next{background-position:-5px 0}
.s-prev{background-position:-5px -24px}
.new-book .hd ul{float:right;margin-top:7px;overflow:hidden}
.new-book .hd ul li{background-color:#999;border-radius:10px;cursor:pointer;float:left;font-size:0;height:10px;line-height:0;margin-right:5px;overflow:hidden;width:10px}
.new-book .hd ul li.on{background-color:#28b4e9}
.new-book .bd{overflow:hidden;padding:0 10px;width:733px}
.new-book .bd li{float:left;height:265px;overflow:hidden;vertical-align:middle;padding:5px 0 0 18px}
.new-book .bd li .pic{height:163px;width:183px}
.new-book .bd li .pic .subpic img{max-height:160px;max-width:160px}
.new-book .bd li p{overflow:hidden}
.new-book .bd li .title{height:32px;line-height:16px;margin:0 auto;padding:5px 1px 1px;position:relative;width:66%}
.new-book .bd li .bk-info{color:#999;height:36px;line-height:18px;margin:0 auto;overflow:hidden;width:66%}
.new-book .bd li .price{margin:0 auto;padding-top:3px;width:66%}
.new-book .bd li .price .price_d{margin-right:10px}
.taoshu_wrap .special{float:left;margin:15px 0 0 22px}
.taoshu_wrap .Partners{float:left;margin:15px 0 0 6px}
 #yueduka{font-size:18px} #ctl00_yueduka{font-size:18px;}